/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* header start here */
header {
    max-width: 1080px;
    margin: 0 auto;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px;
}

.header_content h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

.header_content button {
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}

/* header end here */